/*=====
@mixins
=====*/

@mixin neutralise(){
  font-family: $default-font-family, $fallback-font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin:{
    top: 0;
    bottom: 0;
  }
  padding:{
    top: 0;
    bottom: 0;
  }
}

@mixin vertical-groove(
  $shift, //Rhythm Vertical Shift
  $spacing: lines-for-font-size($base-font-size), // Trailing white space control.
  $to-size: $base-font-size, //New Font Size
  $from-size: $base-font-size, //Current Font Size
  $lines: lines-for-font-size($to-size) //Lines, fallback to minimum usable number.
  ){
  @include adjust-font-size-to($to-size, $lines, $from-size);
  line-height:$lines*$base-line-height;
  @if $shift > 0{
    @include rhythm(0, $shift, 0, $spacing - $shift, $to-size);
    } @else {
      @include rhythm($shift, 0, $spacing -  $shift, 0, $to-size);
    }
}

/*-- Some extenable font sizes. --*/
@mixin base-base(
  // based on    font: font-style font-variant font-weight font-size/line-height font-family;
  $font-size: $base-font-size, //New Font Size
  $font-family: $default-font-family,
  $spacing: lines-for-font-size($font-size), // Trailing white space control.
  $lines: lines-for-font-size($font-size) //Lines, fallback to minimum usable number.
){
  font-family: $font-family, $fallback-font-stack;
            ///////////////////////////////////////////
            //
            //  PT Sans
            //
            ///////////////////////////////////////////
            @if $font-family == "pt-sans" { 
              $shift:0;
              @if $font-size == 11px {$shift:.72;}
              @else if $font-size == 12px {$shift:.70;}
              @else if $font-size == 13px {$shift:.70;}
              @else if $font-size == 14px {$shift:.65;}
              @else if $font-size == 16px {$shift:.60;}
              @else if $font-size == 18px {$shift:.60;}
              @else if $font-size == 20px {$shift:.50;}
              @else if $font-size == 22px {$shift:.40;}
              @else if $font-size == 24px {$shift:.40;}
              @else if $font-size == 26px {$shift:.85;}
              @else if $font-size == 28px {$shift:.80;}
              @else if $font-size == 30px {$shift:.74;}
              @else if $font-size == 32px {$shift:.65;}
              @else if $font-size == 34px {$shift:.60;}
              @else if $font-size == 36px {$shift:.60;}
              @else if $font-size == 38px {$shift:.52;}
              @else if $font-size == 40px {$shift:.95;}
              @else if $font-size == 42px {$shift:.90;}
              @else if $font-size == 44px {$shift:.85;}
              @else if $font-size == 46px {$shift:.80;}
              @else if $font-size == 48px {$shift:.70;}
              @else if $font-size == 50px {$shift:.70;}
              @else if $font-size == 52px {$shift:.65;}
              @else if $font-size == 54px {$shift:.05;}
              @else if $font-size == 56px {
                @if $lines == 5 {$shift:.00;}
                @else if $lines == 4 {$shift:.45;}
              }
              @else if $font-size == 58px {$shift:.0;}
              @else if $font-size == 60px {$shift:.90;}
              @else{
                $font-size:$base-font-size;
              }
              @include vertical-groove($shift, $spacing, $font-size, $base-font-size, $lines);
            }

            ///////////////////////////////////////////
            //
            //  Proxima Nova
            //
            ///////////////////////////////////////////
            @if $font-family == "proxima-nova" { 
              $shift:0;
              @if $font-size == 11px {$shift:.75;}
              @else if $font-size == 12px {$shift:.73}
              @else if $font-size == 13px {$shift:.70;}
              @else if $font-size == 14px {$shift:.70;}
              @else if $font-size == 16px {$shift:.67;}
              @else if $font-size == 18px {$shift:.67;}
              @else if $font-size == 20px {$shift:.60;}
              @else if $font-size == 22px {$shift:.52;}
              @else if $font-size == 24px {$shift:.50;}
              @else if $font-size == 26px {$shift:.90;}
              @else if $font-size == 28px {$shift:.90;}
              @else if $font-size == 30px {$shift:.85;}
              @else if $font-size == 32px {$shift:.80;}
              @else if $font-size == 34px {$shift:.70;}
              @else if $font-size == 36px {$shift:.70;}
              @else if $font-size == 38px {$shift:.60;}
              @else if $font-size == 40px {$shift:.15;}
              @else if $font-size == 42px {$shift:.05;}
              @else if $font-size == 44px {$shift:.00;}
              @else if $font-size == 46px {$shift:.00;}
              @else if $font-size == 48px {$shift:.90;}
              @else if $font-size == 50px {$shift:.90;}
              @else if $font-size == 52px {$shift:.80;}
              @else if $font-size == 54px {$shift:.30;}
              @else if $font-size == 56px {$shift:.20;}
              @else if $font-size == 58px {$shift:.15;}
              @else if $font-size == 60px {$shift:.05;}
              
              @else{
                $font-size:$base-font-size;
              }
              @include vertical-groove($shift, $spacing, $font-size, $base-font-size, $lines);
            }

            ///////////////////////////////////////////
            //
            //  Georgia
            //
            ///////////////////////////////////////////
            @if $font-family == "georgia" { 
              $shift:0;
              @if $font-size == 11px {$shift:.70;}
              @else if $font-size == 12px {$shift:.70}
              @else if $font-size == 13px {$shift:.70;}
              @else if $font-size == 14px {$shift:.65;}
              @else if $font-size == 16px {$shift:.65;}
              @else if $font-size == 18px {$shift:.60;}
              @else if $font-size == 20px {$shift:.52;}
              @else if $font-size == 22px {$shift:.50;}
              @else if $font-size == 24px {$shift:.45;}
              @else if $font-size == 26px {$shift:.89;}
              @else if $font-size == 28px {$shift:.82;}
              @else if $font-size == 30px {$shift:.80;}
              @else if $font-size == 32px {$shift:.73;}
              @else if $font-size == 34px {$shift:.65;}
              @else if $font-size == 36px {$shift:.65;}
              @else if $font-size == 38px {$shift:.60;}
              @else if $font-size == 40px {$shift:.00;}
              @else if $font-size == 42px {$shift:.90;}
              @else if $font-size == 44px {$shift:.90;}
              @else if $font-size == 46px {$shift:.80;}
              @else if $font-size == 48px {$shift:.85;}
              @else if $font-size == 50px {$shift:.80;}
              @else if $font-size == 52px {$shift:.70;}
              @else if $font-size == 54px {$shift:.10;}
              @else if $font-size == 56px {$shift:.15;}
              @else if $font-size == 58px {$shift:.00;}
              @else if $font-size == 60px {$shift:.00;}
              
              @else{
                $font-size:$base-font-size;
              }
              @include vertical-groove($shift, $spacing, $font-size, $base-font-size, $lines);
            }
}
