@import 'variables';
@import 'helpers';
@import 'font-settings/open-sans';

///
/// add $line-height of padding to start of this item
/// @group Base-Base
/// @param $base-lines [1] Number of baselines of padding to add
/// @param $font-size [null] Font size of this item, setting this will cause base-base to return the padding adjusted for the baselineing value
/// @param $font-family [$default-font-family] Font familty used for baseline lookup (only used when font-size has been set)
/// @param $line-height [lines-for-font-size($font-size)] Line height used for baseline lookup
/// @param $weight [400] Font weight used for baseline lookup
///
@mixin padding-leader(
  $base-lines: 1,
  $font-size: null,
  $font-family: $default-font-family,
  $line-height: lines-for-font-size($font-size),
  $weight: 400
  ){
  @if($font-size != null){
    $base-lines: $base-lines + get-base($font-size,$font-family,$line-height,$weight);
  }
  // $adjustment: $base-lines / $base-line-height;
  padding-top: baseline2rem($base-lines);
};

///
/// add $line-height of padding to end of this item
/// @group Base-Base
/// @param $base-lines [1] Number of baselines of padding to add
/// @param $font-size [$base-font-size] Font size of this item
/// @param $adjust [false] Add baseline adjustments from base-base font database (useful for working with text)
/// @param $font-family [$default-font-family] Font familty used for baseline adjustments from database (only used when adjust set to true)
/// @param $line-height [lines-for-font-size($font-size)] Line height used when checking for baseline adjustments (only used when adjust set to true)
/// @param $weight [400] Font weight used when checking for baseline adjustments (only used when adjust set to true)
///
@mixin padding-trailer(
  $base-lines: 1,
  $font-size: null,
  $font-family: $default-font-family,
  $line-height: lines-for-font-size($font-size),
  $weight: 400
  ){
  @if($font-size != null){
    $base-lines: $base-lines - get-base($font-size,$font-family,$line-height,$weight);
  }
  // $adjustment: $base-lines / $base-line-height;
  padding-bottom: baseline2rem($base-lines);
};

///
/// add $line-height of margin to start of this item
/// @group Base-Base
/// @param $line-height [1] Number of baselines of margin to add
/// @param $font-size [$base-font-size] Font size of this item
/// @param $adjust [false] Add baseline adjustments from base-base font database (useful for working with text)
/// @param $font-family [$default-font-family] Font familty used for baseline adjustments from database (only used when adjust set to true)
/// @param $line-height [lines-for-font-size($font-size)] Line height used when checking for baseline adjustments (only used when adjust set to true)
/// @param $weight [400] Font weight used when checking for baseline adjustments (only used when adjust set to true)
///
@mixin margin-leader(
  $base-lines: 1,
  $font-size: null,
  $font-family: $default-font-family,
  $line-height: lines-for-font-size($font-size),
  $weight: 400
  ){
  @if($font-size != null){
    $base-lines: $base-lines + get-base($font-size,$font-family,$line-height,$weight);
  }
  // $adjustment: $base-lines / $base-line-height;
  margin-top: baseline2rem($base-lines);
};

///
/// add $line-height of margin to end of this item
/// @group Base-Base
/// @param $line-height [1] Number of baselines of margin to add
/// @param $font-size [$base-font-size] Font size of this item
/// @param $adjust [false] Add baseline adjustments from base-base font database (useful for working with text)
/// @param $font-family [$default-font-family] Font familty used for baseline adjustments from database (only used when adjust set to true)
/// @param $line-height [lines-for-font-size($font-size)] Line height used when checking for baseline adjustments (only used when adjust set to true)
/// @param $weight [400] Font weight used when checking for baseline adjustments (only used when adjust set to true)
///
@mixin margin-trailer(
  $base-lines: 1,
  $font-size: null,
  $font-family: $default-font-family,
  $line-height: lines-for-font-size($font-size),
  $weight: 400
  ){
  @if($font-size != null){
    $base-lines: $base-lines - get-base($font-size,$font-family,$line-height,$weight);
  }
  // $adjustment: $base-lines / $base-line-height;
  margin-bottom: baseline2rem($base-lines);
};

///
/// remove vertical margin and padding, reset font sizes etc to default
/// @group Base-Base
/// @param  $base-line-height [$base-line-height] Base line height to set this item to
///
@mixin neutralise($base-line-height: $base-line-height){
  font-family: $default-font-family, $fallback-font-stack;
  @if $base-use-rem {
    font-size: 1rem;
  } @else {
    font-size: $base-font-size;
  }
  line-height: $base-line-height;
  margin: {
    top: 0;
    bottom: 0;
  }
  padding: {
    top: 0;
    bottom: 0;
  }
}

///
/// returns baselines nessasary for this font size given a minimum padding of 2px
/// @access private
/// @group Base-Base
/// @param  $font-size [$base-font-size] Font size to check
/// @param  $base-line-height [$base-line-height] Base line height
///
@function lines-for-font-size(
  $font-size: $base-font-size,
  $base-line-height: $base-line-height,
  $min-line-height-gap: $min-line-height-gap
  ){
  $line-height: 1;
  
  @if $font-size != null {
    $line-height: ceil($font-size/$base-line-height);
  }

  @if($line-height * $base-line-height - $font-size < $min-line-height-gap * 2){
    $line-height: $line-height + 1;
  }
  
  @return $line-height;
}

///
/// Establish default font size and line-height of an item
/// @group Base-Base
/// @param  $font-size [$base-font-size] Base font size
/// @param  $base-line-height [$base-line-height] Base line height
///
@mixin establish-baseline($font-size: $base-font-size, $base-line-height: $base-line-height) {
    font-size: $font-size;
    line-height: lines-for-font-size($font-size) * $base-line-height;
}


///
/// returns leading manual adjustment for the given font
/// @group Base-Base
/// @access private
/// @param  $font-size [$base-font-size] Font size
/// @param  $font-family [$default-font-family] Font family
/// @param  $line-height [lines-for-font-size($font-size)] Number of baselines to use for line-height
/// @param  $weight [400] Font weight using numeric keywod values
/// @param  $base-line-height [$base-line-height] Baseline height
///
@function get-base-manual-adjust(
  $font-size: $base-font-size,
  $font-family: $default-font-family,
  $weight: 400
){
  $cleaned-font-family: normalise-font-name($font-family);
  $manaul-adjust: 0;

  @if map-has-key($base-base-font-db, $cleaned-font-family){
    $font-settings: map-get($base-base-font-db, $cleaned-font-family);
    
    @if map-has-key($font-settings, manual-adjust){
      $adjustments: map-get($font-settings, manual-adjust);
      $unitless-size: strip-unit($font-size);

      @if (map-has-key($adjustments, $unitless-size)){
        $manaul-adjust: map-get($adjustments, $unitless-size);
      }
    }
  }

  @return $manaul-adjust;
}


///
/// returns leading baselines of adjustment from base-base database for the given font settings
/// @group Base-Base
/// @access private
/// @param  $font-size [$base-font-size] Font size
/// @param  $font-family [$default-font-family] Font family
/// @param  $line-height [lines-for-font-size($font-size)] Number of baselines to use for line-height
/// @param  $weight [400] Font weight using numeric keywod values
/// @param  $base-line-height [$base-line-height] Baseline height
///
@function get-base(
  $font-size: $base-font-size,
  $font-family: $default-font-family,
  $base-lines: lines-for-font-size($font-size),
  $weight: 400,
  $base-line-height: $base-line-height
){
  $cleaned-font-family: normalise-font-name($font-family);
  $adjust-percentage: 0;
  $line-height: $base-lines * $base-line-height;

  @if map-has-key($base-base-font-db, $cleaned-font-family){
    $font-settings: map-get($base-base-font-db, $cleaned-font-family);

    @if(map-has-key($font-settings, adjust-ratio)){
      $adjust-percentage: map-get($font-settings, adjust-ratio);
    }
  } @else {
    @error "Base-Base: No font const found for : #{$cleaned-font-family}"
  }

  $x-height-adjust: $adjust-percentage * $font-size;
  $lh-adjust: ($line-height - $font-size) / 2;

  $manaul-adjust: get-base-manual-adjust($font-size, $font-family, $weight);

  $total-adjust: round($x-height-adjust + $lh-adjust) + $manaul-adjust;  

  @while ($total-adjust >= $base-line-height){
    $total-adjust: $total-adjust - $base-line-height;
  }

  @return p2b($total-adjust);
}

///
/// returns trailing baselines of adjustment from base-base database for the given font settings
/// @group Base-Base
/// @access private
/// @param  $font-size [$base-font-size] Font size
/// @param  $font-family [$default-font-family] Font family
/// @param  $line-height [lines-for-font-size($font-size)] Number of baselines to use for line-height
/// @param  $base-line-height [$base-line-height] Baseline height
/// @param  $weight [400] Font weight
///
@function get-bottom-base(
  $font-size: $base-font-size,
  $font-family: $default-font-family,
  $line-height: lines-for-font-size($font-size),
  $base-line-height: $base-line-height,
  $weight: 400
  ){
  @return 1 - get-base($font-size, $font-family, $line-height, $base-line-height, $weight);
}


///
/// returns baselines of adjustment from base-base database for the given font settings
/// @group Base-Base
/// @example
///   .example_text {
///     // all options
///     @include base-base(24px, 'Open Sans', 2, 0, 'Sans-Serif', 16px, 400);
///     // minimal call
///     @include base-base(24px);
///   }
/// @param  $font-size [$base-font-size] Font size
/// @param  $font-family [$default-font-family] Font family
/// @param  $trailer [null] Trailing baselines of whitespace
/// @param  $leader [0] Leading baselines of whitespace
/// @param  $line-height [lines-for-font-size($font-size, $base-line-height)] Number of baselines to use for line-height
/// @param  $fallback-font-stack [$fallback-font-stack] Fallback font stack
/// @param  $base-line-height [$base-line-height] Base line height
/// @param  $weight [400] Font weight
///
@mixin base-base(
  $font-size: $base-font-size,
  $font-family: $default-font-family,
  $trailer: 1,
  $leader: 0,
  $line-height: lines-for-font-size($font-size, $base-line-height),
  $fallback-font-stack: $fallback-font-stack,
  $base-line-height: $base-line-height,
  $weight: 400
){
  // $base_adjust: get-base($font-size, $font-family, $line-height, $base-line-height, $weight);
  margin-top: 0;
  margin-bottom: 0;
  @include padding-leader($leader, $font-size, $font-family, $line-height, $weight);
  @include padding-trailer($trailer, $font-size, $font-family, $line-height, $weight);
  font-size: #{$font-size / $base-font-size}rem;
  line-height: $line-height * $base-line-height;
  font-family: $font-family, $fallback-font-stack;
  font-weight: $weight;
}

///
/// Set the background of an item to a debug grid
/// @group Base-Base
/// @example
///   .item{
///     @include debug_baseline(true, 16px, 0px);
///     // minimal call
///     @include debug_baseline();
///   }
/// @param  $pseudo [false] Use a pseudo element instead of this item
/// @param  $base-line-height [$base-line-height] Baseline height
/// @param  $offset [0px] Grid offset
///
@mixin debug_baseline($pseudo:false, $base-line-height:$base-line-height, $offset:0px){
  @if $visual-grid == true or $visual-grid == yes {
    @if $pseudo == false {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 1px);
      background-size: 100% $base-line-height;
      background-position: left $offset;
    } @else {
      position: relative;
      > * {
        position: relative;
        z-index: 1;
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        top: $offset;
        left: 0;
        right: 0;
        bottom: 0;
        @include debug_baseline($base-line-height: $base-line-height);
        pointer-events: none;
        z-index: 0;
      }
    }
  }
}

///
/// @group Base-Base
///
@mixin prep_root(){
  @at-root{
    html {
      font-size: $base-font-size;
      line-height: $base-line-height;
      font-family: $default-font-family, $fallback-font-stack;
      margin: 0;
    }
  }
}