$fallback-font-stack: Helvetica, Arial, Sans-Serif !default;
$default-font-family: "Open Sans" !default;
$default-trailing-space: 2 !default;
$base-line-height: 14px !default;
$base-font-size: 16px !default;
$visual-grid: true !default;