$fallback-font-stack: Helvetica, Arial, Sans-Serif !default;
$default-font-family: "Open Sans" !default;
$baseline-height: 12px !default;
$base-font-size: 16px !default;
$visual-grid: true !default;
$min-line-height-gap: 1px !default;

$base-base-font-db: () !default;