@import '../core/base-base';
@include prep_root();
$test-font: 'Source Sans Pro';

.debug{
    @include debug_baseline(true);
}

$max-size: 6 * strip-unit($baseline-height);

.base-base-ratio-el{
    font-family: $test-font;
    font-size: #{$max-size}px;
    line-height: #{$max-size}px;
    margin: 0 0 20px;
    padding-top: 0px;
}

@for $i from 10 through $max-size {
    .base-base-#{$i} {
        @include base-base($i * 1px, $test-font);
    }
}